.form-control {
  max-width: 30rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field:not(:last-child) {
  margin-bottom: 0.5rem;
}

.form-field label {
  flex: 1;
  font-size: 0.8rem;
  padding-bottom: 0.2rem;
}

.form-field input,
.form-field select,
.form-field textarea {
  border: 1px solid black;
}

.form-field input:focus,
.form-field select:focus,
.form-field textarea:focus {
  outline: none;
  border: 1px solid #00a0e4;
}

.form-control button,
.form-control input[type="submit"] {
  width: fit-content;
  margin: 0 auto;
  font-weight: 900;
  border: 1px solid black;
  padding: 0.5rem 1rem;
}

.form-error {
  color: red;
  font-size: 0.8rem;
  padding-top: 0.2rem;
}
