<!DOCTYPE html>
<html lang="fi">

<head>
  <meta charset="UTF-8" />
  <title>{{ block "title" . }}{{ end }}</title>
  <meta name="description" content="{{ block "description" . }}{{ end }}" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{ stylesheet "normalize.css" }}
  {{ stylesheet "base.css" }}
  {{ stylesheet "blocks.css" }}
  {{ stylesheet "forms.css" }}
  {{ javascript "turbo.js" }}
</head>

<body>
  <div class="base__content">
    <nav class="base__nav">
      {{ partial "partials/nav.html" nil }}
    </nav>

    <header class="base__header">
      <h1 class="base__header-title"><a href="/">Abborre Freediving</a></h1>
    </header>

    <main class="base__main">
      <turbo-frame id="content" target="_top">
        {{ if gt (.Flashes | len) 0 }}
        <div class="base__flashes">
          {{ range .Flashes }}
          <div class="base__flash base__flash-{{ .Level }}">{{ .Message }}</div>
          {{ end }}
        </div>
        {{ end }}

        {{ block "body" . }}
        {{ end }}
      </turbo-frame>
    </main>
  </div>
</body>

</html>
