<!DOCTYPE html>
<html lang="{{ block "lang" . }}en{{ end }}">

<head>
  <meta charset="UTF-8" />
  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .Description }}" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{ stylesheet "normalize.css" }}
  {{ stylesheet "base.css" }}
  {{ stylesheet "forms.css" }}
  {{ javascript "turbo.js" }}
</head>

<body>
  <turbo-frame id="content" data-turbo-action="advance" class="base__content">
    <header class="base__header">
      <h1 class="base__title">
        <a class="base__title-link" href="/">Abborre Freediving</a>
      </h1>
    </header>

    <nav class="base__nav">
      {{ partial "partials/nav.html" nil }}
    </nav>

    <main class="base__main">
      {{ if gt (.Flashes | len) 0 }}
      <div class="base__flashes">
        {{ range .Flashes }}
        <div class="base__flash base__flash-{{ .Level }}">{{ .Message }}</div>
        {{ end }}
      </div>
      {{ end }}

      {{ block "body" . }}
      {{ end }}
    </main>
  </turbo-frame>
</body>

</html>
