{{ define "body" }}
<form method="post" class="form-control">
  <div class="form-field">
    <label for="name">Name*</label>
    <input id="name" type="text" name="name" />
    {{ range (.Form.Field "name").Errors }}
    <div>{{ . }}</div>
    {{ end }}
  </div>

  <div class="form-field">
    <label for="startTime">Start Time*</label>
    <input id="startTime" type="datetime-local" name="startTime" />
  </div>

  <div class="form-field">
    <label for="duration">Duration*</label>
    <select id="duration" name="duration">
      <option value="15m">15 minutes</option>
      <option value="30m">30 minutes</option>
      <option value="1h" selected>1 hour</option>
      <option value="2h">2 hours</option>
      <option value="3h">3 hours</option>
      <option value="4h">4 hours</option>
      <option value="6h">6 hours</option>
    </select>
  </div>

  <input type="submit" value="Create" />
</form>
{{ end }}
