{{ define "title" }}Abborre Freediving - Tarina{{ end }}

{{ define "body" }}

<div class="blocks">

<div class="block__cover" style="
  background: no-repeat center url({{ urlForStatic "AH-ABBORRE-MÄNTYKARI-20230615-01.jpg" }});
  background-position: top;
  background-size: cover;
">
  <h2>Tarina</h2>
</div>

<div class="w-large block__columns">
  <div class="block__column-1 block__quote">
    <p>Sinulla ei ole vain oikeus, vaan myös velvollisuus, puuttua tilanteeseen välittömästi jos toiminnan turvallisuus mietityttää sinua.</p>
  </div>
  <div class="block__column-2">
    <p>Tähän jotain teksiä mikä Abborre on ja miksi ollaan olemassa. Ja kenelle.</p>
    <p>Ei tarvii olla jonkun tasoinen sukeltaja &ldquo;jotta olisi joku&rdquo;, kun meidän seurassa kaikki on jo joku, oma itsensä sellaisen kuin hän on just silloin!! Nää tulee ilmi meidän arvoista, mutta vaalitaan näitä ja eletään myös näiden mukaan.</p>
    <p>Kulttuuri. Ei suorituskeskeinen vaan enemmän leikkimielinen ja turvallisuutta korostava. Ei tarvii olla jonkun tietyn tasoinen sukeltaja &ldquo;jotta olisi joku&rdquo;, kun meidän seurassa kaikki on jo joku, oma itsensä sellaisena kuin hän on just silloin. Nää tulee ilmi meidän arvoista, mutta vaalitaan näitä ja eletään myös näiden mukaan.</p>
  </div>
</div>

<div class="w-large block__heading">
  <h2>Hallitus</h2>
</div>

<div class="w-large block__columns">
  <div class="block__column-1">
    <h3>Johanna</h3>
    <p>Kolmen rivin esittely. Ei tarvi enempää. Jos tätä osiota laitetaan ollenkaan.</p>
  </div>
  <div class="block__column-1">
    <h3>Maximilian</h3>
    <p>Kolmen rivin esittely. Ei tarvi enempää. Jos tätä osiota laitetaan ollenkaan.</p>
  </div>
  <div class="block__column-1">
    <h3>Ja Muut :D</h3>
    <p>Kolmen rivin esittely. Ei tarvi enempää. Jos tätä osiota laitetaan ollenkaan.</p>
  </div>
</div>

</div>

{{ end }}
