{{ range .Form.Fields }}
  {{ if eq .Kind "hidden" }}
  <input id="{{ .ID }}" type="hidden" name="{{ .Name }}" value="{{ .Value }}" />
  {{ else }}
  <div class="{{ $.FieldClass }}">
    <label for="{{ .ID }}">{{ .Label }}{{ if .Required }}*{{ end }}</label>

    {{ if eq .Kind "text" }}
      {{ if .Config.Multiline }}
        <textarea id="{{ .ID }}" name="{{ .Name }}">{{ .Value }}</textarea>
      {{ else }}
        <input id="{{ .ID }}" type="text" name="{{ .Name }}" value="{{ .Value }}" />
      {{ end }}
    {{ else if eq .Kind "datetime-local" }}
      <input id="{{ .ID }}" type="datetime-local" name="{{ .Name }}" value="{{ .Value }}" />
    {{ else if eq .Kind "select" }}
      <select id="{{ .ID }}" name="{{ .Name }}">
      {{ range .Options }}
        <option value="{{ .Value }}"{{ if .Selected }} selected{{ end }}>{{ .Label }}</option>
      {{ end }}
      </select>
    {{ end }}

    {{ range .Errors }}
      <div class="{{ $.ErrorClass }}">{{ . }}</div>
    {{ end }}

    </div>
  {{ end }}
{{ end }}

{{ range .Form.Errors }}
  <div class="{{ $.ErrorClass }}">{{ . }}</div>
{{ end }}
